BasedOnStyle: Google
AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignOperands: Align
AlignEscapedNewlines: Left
DerivePointerAlignment: false
PointerAlignment: Right
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BreakAfterReturnType: Automatic
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterStruct: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeWhile: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
IndentWidth: 2
ColumnLimit: 120
ContinuationIndentWidth: 2
IncludeBlocks: Preserve
IndentCaseLabels: true
IndentPPDirectives: None
KeepEmptyLines:
  AtEndOfFile: true
  AtStartOfBlock: false
  AtStartOfFile: false
MaxEmptyLinesToKeep: 1
ReflowComments: true
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpacesBeforeTrailingComments: 2
SpacesInSquareBrackets: false
TabWidth: 2
UseTab: Never